body{
font-family:'Cabin', sans-serif;
}

#cadre .commander {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Cabin', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
#cadre .commander:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
#cadre .commander:active {
	position:relative;
	top:1px;
}

#cadre{
background:white;
margin:0 auto;
border : 1px solid #aaa;
width : 1000px;
height : auto;
border-radius : 5px;
-webkit-border-radius : 5px;
-moz-border-radius : 5px;
padding:5px;
box-shadow: 8px 8px 12px #aaa;
-moz-box-shadow: 8px 8px 12px #aaa;
-webkit-box-shadow: 8px 8px 12px #aaa;
color:#000;
overflow:auto;
}
#cadre a{
color:#000;
text-decoration:none;
}
h1, h2{
text-align:center;
color:#CCC;
text-shadow:1px 1px 1px #666;
}
label,input,textarea{
display: block;
width: 350px;
float: left;
margin-bottom: 10px;
}
label{
text-align: right;
width: 300px;
padding-right: 20px;
}
br {
clear: left;
}
input[type=submit],input[type=reset]{
width: auto;
margin-right:5px;
}
.erreur{
background:#F11A57;
color : #FFF;
border : 1px solid #F11A57;
padding : 5px;
margin:5px;
border-radius : 5px;
-webkit-border-radius : 5px;
-moz-border-radius : 5px;
}
.ok{
background:#D6EFA1;
color:#4F7307;
border : 1px solid #C1D779;
padding : 5px;
margin:5px;
border-radius : 5px;
-webkit-border-radius : 5px;
-moz-border-radius : 5px;
}
.info{
background:#FFF4D6;
color:#4A3505;
border : 1px solid #EAC572;
padding : 5px;
margin:5px;
border-radius : 5px;
-webkit-border-radius : 5px;
-moz-border-radius : 5px;
}
li{
display:inline;
border:1px solid #BCE8F1;
background:white;
padding:5px;
margin:5px;
border-radius : 5px;
-webkit-border-radius : 5px;
-moz-border-radius : 5px;
box-shadow: 2px 2px 2px #aaa;
-moz-box-shadow: 2px 2px 2px #aaa;
-webkit-box-shadow: 2px 2px 2px #aaa;
}
li:hover{
background:#D9EDF7;
}
/*Formulaire d'upload*/
#photo{
width: 150px;
margin-left : 320px;
}
.avatar{
background:white;
margin:5px;
padding:5px;
border : 1px solid #aaa;
border-radius : 5px;
-webkit-border-radius : 5px;
-moz-border-radius : 5px;
box-shadow: 8px 8px 8px #aaa;
-moz-box-shadow: 8px 8px 8px #aaa;
-webkit-box-shadow: 8px 8px 8px #aaa;
}