.titre
{
    text-shadow: 2px 2px 4px black;
}

body
{
    background-color: #3B5998;
    color: white;
}

.bloc-connexion
{
display: table;
border: 2px white solid;
margin : auto;
padding: 20px;
}

input, textarea {
    color: #333;
	font-size: 15px;
	padding : 5px;
}
 
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #555;
	font-size: 15px;
	padding : 5px;
}
 
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #555;
	font-size: 15px;
	padding : 5px;
}
 
input.placeholder, textarea.placeholder {
    color: #555;
	font-size: 15px;
	padding : 5px;
}

.btn 
{
	background-color:#55AB55;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #2a552a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Raleway', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #224422;
}
.btn:hover
{
	background-color:#ab5555;
}
.btn:active 
{
	position:relative;
	top:1px;
}
